---
name: "Build ISO for Ublue Hyprland 43"
on:
  schedule:
    - cron: '05 12 * * 1/2'  # 12:05am UTC every two weeks on Monday
  workflow_dispatch:

jobs:
  build_iso:
    name: "Fedora Hyprland ISO 43"
    uses: "./.github/workflows/reusable-iso.yml"
    with:
      fedora_version: 43
    secrets: inherit
    permissions:
      contents: read
      packages: write
      id-token: write
